/* Palette */
:root {
    --gray-1: rgb(204, 204, 204);
    --gray-2: rgb(192, 192, 192);
    --gray-3: rgb(153, 153, 153);

}

.bg-gray-1 {
    background-color: var(--gray-1);
}

.bg-gray-2 {
    background-color: var(--gray-2);
}

.bg-gray-3 {
    background-color: var(--gray-3);
}

/* Typography */
.text-center {
    text-align: center;
}

/* Global */
main {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 16px 40px;
}

footer {
    padding: 40px;
}

/* Table */
td {
    padding: 5px;
}

.first-col {
    width: 146px;
}

.second-col {
    width: 400px;
}

.third-col {
    width: 518px;
}

.fourth-col {
    width: 246px;
}

.v-align-top {
    vertical-align: top;
}

@media screen and (max-width: 768px) {
    .table-container {
        overflow-x: auto;
    }
}

/* Index */
.main-container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .main-container {
        height: 100%;
        padding: 30px 0;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: 100%;
    }
}

.container>div {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.nav-container a {
    font-style: italic;
}

.border-top-salmon {
    border-top: 2px solid #FF9966;
}

.border-top-orange {
    border-top: 2px solid #FF9A01;
}

.border-top-red {
    border-top: 2px solid #FF6602;
}

.border-bottom-light-green {
    border-bottom: 2px solid #66FF99;
}

.border-bottom-medium-green {
    border-bottom: 2px solid #32FF34;
}

.border-bottom-dark-green {
    border-bottom: 2px solid #33CC03;
}