.main-container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .main-container {
        height: 100%;
        padding: 30px 0;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: 100%;
    }
}

.container>div {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}


.nav-container a {
    font-style: italic;
}

.border-top-salmon {
    border-top: 2px solid #FF9966;
}

.border-top-orange {
    border-top: 2px solid #FF9A01;
}

.border-top-red {
    border-top: 2px solid #FF6602;
}

.border-bottom-light-green {
    border-bottom: 2px solid #66FF99;
}

.border-bottom-medium-green {
    border-bottom: 2px solid #32FF34;
}

.border-bottom-dark-green {
    border-bottom: 2px solid #33CC03;
}

.text-center {
    text-align: center;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 16px 40px;
}

footer {
    padding: 40px;
}