/* griglia 2 colonne: 1 30% e 2 70% */

.grid-container {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 0.25fr 0.75fr;
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

main {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bg-gray {
    background-color: rgb(204, 204, 204);
}

.grid-container>div {
    padding: 5px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.avi-container {
    display: flex;
    flex-direction: column;
}

.avi-container img {
    border: 2px solid red;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 16px 40px;
}

.pb-10 {
    padding-bottom: 10px;
}