/* uguali a personali.css e collettive.css */

.bg-gray-1 {
    background-color: rgb(204, 204, 204);
}

.bg-gray-2 {
    background-color: rgb(192, 192, 192);
}

.bg-gray-3 {
    background-color: rgb(153, 153, 153);
}

.first-col {
    width: 146px;
}

.fourth-col {
    width: 246px;
}

main,
footer {
    padding: 40px;
}

td {
    padding: 5px;
}

.v-align-top {
    vertical-align: top;
}

@media screen and (max-width: 768px) {
    .table-container {
        overflow-x: auto;
    }
}

/* mostre-link.css */

.bg-pink-1 {
    background-color: rgb(255, 204, 255);
}

.bg-pink-2 {
    background-color: rgb(255, 153, 255);
}